goal: statements
;

statements: -> ()
| statements statement NEWLINE -> $1.$2
;

statement: list
;

list: "(" values ")" :: ignore_newlines -> $2
;

values: -> ()
| values value -> $1.$2
;

value: list | IDENT | INTEGER | FLOAT | BOOL | STRING | operator
;

operator: "+" | "-" | "*" | "/" | "%" | "==" | "!=" | ">" | "<" | ">=" | "<=" | "!" | "&&" | "||" | "~" | "&" | "|" | "^" | "<<" | ">>"
;
